html{
     height: 100%;
}


body{
    height: 100%;
    margin: 0%;

}

#container{
    height: 100%;
    background-color: brown;
}



#top {
    height: 20%;
    background-color: rgb(168, 0, 0);

}
#mid {
    height: 65%;
    background-color: rgb(255, 255, 255);
    display: flex;

}
#botton {       
    height: 15%;
    background-color: rgb(0, 10, 155);
    
}

#mid-left{
height: 100%;
width: 40%;
background-color: skyblue;

}

#mid-right{
    height: 100%;
width: 60%;
background-color: rgb(0, 0, 0);
display: flex;
justify-content: space-around;
flex-direction: row ;
align-items: center;
color: white;
}

@media (max-width: 700px){
    
}